[Unit]
Description=Actualizacion mensual de la base GeoIP local

[Timer]
OnCalendar=*-*-05 04:30:00
RandomizedDelaySec=2h
Persistent=true

[Install]
WantedBy=timers.target
